<div class="w-full">
  <%= turbo_frame_tag "trade_metrics" do %>
    <div>
      <div class="bg-white p-2 shadow-sm border border-gray-100">
        <h3 class="text-lg font-medium text-gray-900">Trade Metrics</h3>
      </div>
    </div>
  <% end %>
</div>