<div class="w-full">
  <div class="flex items-center p-5 border-b border-gray-300 shadow-sm">
    <h1 class="text-3xl font-bold">Trade Track</h1>
  </div>

  <div class="flex p-5">
    <%= render "trades/form" %>
  </div>

  <div class="flex p-5">
    <%= render "dashboard/trade_metrics" %>
  </div>
</div>